@model QuestionBankApi.Models.QuestionPaper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionPaper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionPaperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionPaperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionPaperDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionPaperDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionPaperId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
